
body{
	background-color: #282c39;
	
}

.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 10px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: block;
	
}

.myTable{
		border-radius: 10em;
}




.main{
	padding-top:2em;
	padding-bottom: 5em;
	background-color: #303030;
	border: .05em solid black;
	border-radius: 1em;
	padding:2em;
	
	color: white;
}


table td{
	
padding-top: 1em;
vertical-align: middle;

text-align:center;
font-size: 20px;

padding-bottom: 1em;

font-size: 15px;


}
table .a{
	background-color: #21146b;
	
	
}
table .b{
	background-color: #165182;
}

.footer h3{
	text-align: center;
	
}
.footer{
	background-image: url("concert.png");
	background-repeat: no-repeat;
	color: grey;
	font-size: 16px;
	height: 20em;
	width: 100%;
	 background-color: white;
    color: black;
	width: 98%;
	margin-left:1%;
}
.col-sm-2{
	background-color: black;
	border-radius: .2em;
	border: .1em solid white;
	padding: 1em;
	
	
	font-size: 1.2vw;
}
.col-sm-2 h3{
	font-size: 1.2vw;
}

.col-sm-3{
	background-color: black;
	border-radius: .2em;
	border: .1em solid white;
	padding: 1em;
	font-size: 1.2vw;
}
.col-sm-3 h3{
	font-size: 1.2vw;
}
.footer p{
	color:white;
}
.footer a:link {
	color: orange;
}
.footer a:Visited {
	color: orange;
}
.footer a:active{
	color:white;
}

.footer h5{
	color:white;
}
.footer p{
	padding-top:1em;
	color:orange;
}
input.search {
    background-color:black;
    color:white;
	border:.1em solid white;
}
input::placeholder{
	color:white;
}
.container-fluid a{
	background-color: #7e7e7e;
	
}
.container-fluid{
	margin-left: 9%;
}
.navbar-inverse .navbar-nav  li  a {
	color:white;
}
.navbar-inverse .navbar-brand{
	color:white;
}

	
