@temp("Keith Barry") {
    
    <div class="containter">
        <div class="col-sm-1"></div>
        <div id="Content" class="col-sm-6 col-centered">
            <div id="contentWellTemp" class="well well-sm">
                    <img src="/assets/images/Keith.png" alt=>
                    <h3> Keith Barry </h3>
                    <h4>Performer Genre: Hypnotist</h4>
                    <p>Keith Patrick Barry (born 2 October 1976) is an Irish mentalist, 
                        hypnotist, magician and activist for the elderly. Born in Ferrybank, 
                        Waterford city, Ireland, Barry's interest in magic began at the age 
                        of 14 when he purchased a book entitled Magic for the Complete Klutz.
                        Barry’s television career began with a series entitled Close Encounters
                         with Keith Barry, which ran from 2003-2005.The show originally 
                         aired in Europe and has since aired in 28 countries worldwide.
                        </p><p>
                        In 2004, Barry performed in a MTV television special entitled Brainwashed. 
                        2005 ended with Barry performing a live Christmas special in Europe. 
                        Keith Barry Live With Friends featured various celebrities such as magician 
                        Billy McComb, Jim Corr of The Corrs, and The Conway Sisters.
                        Barry's success throughout Europe coupled with his MTV special led to 
                        a four-year multi-special deal with CBS. His first special with CBS 
                        debuted on 12 May 2006 and was entitled Keith Barry: Extraordinary. 
                        The special later aired on New Year's Eve 2006 on The CW and on New Year’s 
                        Day 2007 on TV3 in New Zealand and the Arena channel in Australia.
                        </p><p>
                        In the Keith Barry: Extraordinary special, he performed various 
                        illusions and mental feats. In one trick, which he referred to as 
                        "Black Ops Hypnosis", he made a host from Entertainment Tonight 
                        forget that he had torn a specific page from a book and sealed it 
                        in an envelope in the span of roughly five minutes. In another, 
                        he made a blindfolded man lift his arm when he thought others stopped 
                        touching him. Barry first used suggestion to make the man "concentrate" 
                        and lied that he was touching the man. The man imagined the touch and 
                        lifted his arm, but Barry and another member of the audience only moved 
                        their hand afar.
                        </p><p>
                        Following a successful Irish tour along with a week in Dublin's Vicar 
                        Street, Barry and his longtime manager Eamonn Maguire were badly injured 
                        in a car crash on the Belfast to Newry road on 1 March 2007. Barry suffered 
                        severe trauma to his left leg and only returned to the stage later the same 
                        year at Vicar Street.
                    <a href="https://en.wikipedia.org/wiki/Keith Barry" >Read more...</a></p>
            </div>
        </div>
    </div>
    }