@temp("Michael McIntyre") {
    
    <div class="containter">
        <div class="col-sm-1"></div>
        <div id="Content" class="col-sm-6 col-centered">
            <div id="contentWellTemp" class="well well-sm">
                    <img src="/assets/images/Michael.png" alt=>
                    <h3> Michael McIntyre </h3>
                    <h4>Performer Genre: Comdeian</h4>
                    <p>Michael Hazen James McIntyre (born 21 February 1976) is an English comedian, 
                        actor and presenter. In 2012, he was reported to be the highest-grossing comedian 
                        in the world.
                            <br>
                            In addition to stand-up, McIntyre has hosted his own BBC One comedy programme 
                            Michael McIntyre's Comedy Roadshow, has featured in three episodes of Live 
                            at the Apollo and, in 2011, was a judge on Britain's Got Talent. He currently 
                            presents his own Saturday night series Michael McIntyre's Big Show on BBC One.
                            </p><p>
                            McIntyre has appeared three times on BBC One's Live at the Apollo, in 2007, 2008 
                            and 2009. He has released four DVDs, Live and Laughing, Hello Wembley, Showtime 
                            and Happy and Glorious, that have sold a combined total of over five million 
                            copies in the UK.
                            <br>
                            McIntyre's many comedy panel show and chat show appearances include Chris 
                            Moyles' Quiz Night, Mock the Week, 8 out of 10 Cats, Have I Got News for 
                            You, The Big Fat Quiz of the Year, Would I Lie To You?, The Apprentice: 
                            You're Fired!, Alan Carr: Chatty Man and Friday Night with Jonathan Ross.
                            </p><p>
                            In 2009, McIntyre performed for an estimated total of 500,000 people 
                            on his first tour of the United Kingdom that included a record-breaking 
                            six nights at Wembley Arena and four at The O2 Arena.
                            <br>
                            In 2012, his UK tour included 71 arena dates, playing to over 700,000 
                            people, including a record breaking 10 nights at the O2 Arena in London. 
                            According to ticket sales company Pollstar the tour helped make McIntyre 
                            the world's biggest selling comedian in 2012, bringing in around £21m.
                            <br>
                            On 20 April 2013 McIntyre played the biggest comedy gig in Africa 
                            to 9,000 fans at the Coca-Cola Dome in Johannesburg.
                            <br>
                            In 2015, McIntyre toured the UK and Ireland with his "Happy & Glorious" 
                            tour. In February 2016, he took the tour to Norway for two dates, and in 
                            October 2016 he took it to Australia for four dates.
                            <br>
                            In 2017 and 2018 he is going on an extensive world tour, Michael 
                            McIntyre's Big World Tour.
                    <a href="https://en.wikipedia.org/wiki/Michael McIntyre" >Read more...</a></p>
            </div>
        </div>
    </div>
    }